In [26]:
import investpy
import pandas as pd
import datetime as dt
import yfinance as yf
import csv

In [27]:
df = investpy.get_commodities()

# Crude Oil WTI Dataset

In [29]:
Crude_oil_df = investpy.get_commodity_historical_data(commodity='Crude Oil WTI', from_date='01/01/2012', to_date='01/01/2022')

In [30]:
Crude_oil_df.isnull().sum()

Open        0
High        0
Low         0
Close       0
Volume      0
Currency    0
dtype: int64

In [31]:
Crude_oil_df.dropna(inplace=True)

In [32]:
Crude_oil_df.dtypes

Open        float64
High        float64
Low         float64
Close       float64
Volume        int64
Currency     object
dtype: object

In [33]:
Crude_oil_df.drop(["Volume","Currency"], axis=1,inplace=True)

In [34]:
Crude_oil_df

              Open    High     Low   Close
Date
2012-01-03   99.70  103.18   99.65  102.96
2012-01-04  102.99  103.74  101.88  103.22
2012-01-05  103.29  103.73  101.30  101.81
2012-01-06  101.35  102.80  100.88  101.56
2012-01-09  101.92  102.15  100.10  101.31
...            ...     ...     ...     ...
2021-12-27   73.38   76.09   72.57   75.57
2021-12-28   75.97   76.92   75.53   75.98
2021-12-29   76.04   77.37   75.36   76.56
2021-12-30   76.58   77.44   75.78   76.99
2021-12-31   76.66   77.08   74.95   75.21

[2614 rows x 4 columns]

In [35]:
Crude_oil_df.to_csv("Crude_oil_df-Update.csv")

# US Wheat dataset

In [36]:
US_wheat_df = investpy.get_commodity_historical_data(commodity='US Wheat', from_date='01/01/2012', to_date='01/01/2022')

In [37]:
US_wheat_df.isnull().sum()

Open        0
High        0
Low         0
Close       0
Volume      0
Currency    0
dtype: int64

In [38]:
US_wheat_df.dropna(inplace=True)

In [39]:
US_wheat_df.dtypes

Open        float64
High        float64
Low         float64
Close       float64
Volume        int64
Currency     object
dtype: object

In [40]:
US_wheat_df.drop(["Volume","Currency"], axis=1,inplace=True)

In [41]:
US_wheat_df

              Open    High     Low   Close
Date
2012-01-02  653.13  653.13  653.13  653.13
2012-01-03  665.88  670.50  654.00  658.38
2012-01-04  656.38  661.13  645.63  650.13
2012-01-05  649.13  650.13  627.13  627.38
2012-01-06  629.38  636.88  624.63  624.63
...            ...     ...     ...     ...
2021-12-27  817.50  824.00  802.50  804.00
2021-12-28  805.75  808.00  781.75  783.50
2021-12-29  785.25  793.00  774.00  787.75
2021-12-30  789.50  791.75  776.00  779.75
2021-12-31  782.50  787.75  769.50  770.75

[2612 rows x 4 columns]

In [42]:
US_wheat_df.to_csv("US_wheat_df-Update.csv")

# KHC_Stock

In [43]:
KHC_Stock = investpy.get_stock_historical_data(stock='KHC', country='united states', from_date='01/01/2012', to_date='01/01/2022')

In [44]:
KHC_Stock.isnull().sum()

Open        0
High        0
Low         0
Close       0
Volume      0
Currency    0
dtype: int64

In [45]:
KHC_Stock.dtypes

Open        float64
High        float64
Low         float64
Close       float64
Volume        int64
Currency     object
dtype: object

In [46]:
KHC_Stock.dropna(inplace=True)

In [47]:
KHC_Stock.drop(["Volume","Currency"], axis=1,inplace=True)

In [48]:
KHC_Stock.to_csv("KHC_Stock-Update.csv")

# US Dollar dataset

In [49]:
US_Dollar_Index = investpy.get_index_historical_data(index='US Dollar Index', country='united states', from_date='01/01/2012', to_date='01/01/2022')

In [50]:
US_Dollar_Index.isnull().sum()

Open        0
High        0
Low         0
Close       0
Volume      0
Currency    0
dtype: int64

In [51]:
US_Dollar_Index.dtypes

Open        float64
High        float64
Low         float64
Close       float64
Volume        int64
Currency     object
dtype: object

In [52]:
US_Dollar_Index.drop(["Volume","Currency"], axis=1,inplace=True)

In [53]:
US_Dollar_Index.to_csv("US_Dollar_Index-Update.csv")

# CBOE Volatility Index dataset

In [54]:
SP_500_VIX = investpy.get_index_historical_data(index='S&P 500 VIX', country='united states', from_date='01/01/2012', to_date='01/01/2022')

In [55]:
SP_500_VIX.isnull().sum()

Open        0
High        0
Low         0
Close       0
Volume      0
Currency    0
dtype: int64

In [56]:
SP_500_VIX.dtypes

Open        float64
High        float64
Low         float64
Close       float64
Volume        int64
Currency     object
dtype: object

In [57]:
SP_500_VIX.drop(["Volume","Currency"], axis=1,inplace=True)

In [58]:
SP_500_VIX.to_csv("SP_500_VIX-Update.csv")

# CO2 dataset

In [59]:
CO2_emissions = pd.read_csv("..\\Downloads\\emission data.csv")

FileNotFoundError: [Errno 2] No such file or directory: '..\\Downloads\\emission data.csv'

In [ ]:
CO2_emissions

In [ ]:
CO2_df = CO2_emissions.reset_index().T

In [ ]:
CO2_df.head()

In [ ]:
CO2_df.iloc[220,262:]

In [ ]:
type(CO2_df.iloc[220,262:])

## Average price data (in U.S. dollars), selected items

In [ ]:
CPI = pd.read_html("https://www.bls.gov/charts/consumer-price-index/consumer-price-index-by-category-line-chart.htm")[0]

In [ ]:
CPI.isnull().sum()

In [ ]:
CPI.dropna(inplace=True)
 #parse_dates=True,infer_datetime_format=True,index_col="Month"

In [ ]:
CPI_df = CPI.drop(['Food at home','Apparel','Shelter','New vehicles'],axis=1)

In [ ]:
CPI_df = CPI_df.set_index("Month")

In [ ]:
CPI_df = CPI_df.loc['Jan 2012':,:]

In [ ]:
CPI_df.isnull().any()

In [ ]:
CPI_df.dtypes

In [ ]:
CPI_df

In [ ]:
CPI_df = CPI_df.reset_index('Month')

In [ ]:
CPI_df.to_csv("CPI_df-update.csv",index=False)