# Urea Monthly Price - US Dollars per Metric Ton

In [3]:
import pandas as pd
import investpy
import datetime as dt
import csv

In [4]:
US_Dollar_Per_metric_ton = pd.read_html("https://www.indexmundi.com/commodities/?commodity=urea&months=360")[1]

In [5]:
US_Dollar_Per_metric_ton

        Month   Price   Change
0    Jul 1992  120.00        -
1    Aug 1992  120.00    0.00%
2    Sep 1992  120.00    0.00%
3    Oct 1992  116.88   -2.60%
4    Nov 1992  107.50   -8.03%
..        ...     ...      ...
355  Feb 2022  744.17  -12.08%
356  Mar 2022  872.50   17.24%
357  Apr 2022  925.00    6.02%
358  May 2022  707.50  -23.51%
359  Jun 2022  690.00   -2.47%

[360 rows x 3 columns]

In [8]:
US_Dollar_Per_metric_ton_month = []
US_Dollars_Per_metric_ton_year = []
for i, r in US_Dollar_Per_metric_ton.iterrows():
    US_Dollar_Per_metric_ton_month.append(r["Month"].split()[0])
    US_Dollars_Per_metric_ton_year.append(r["Month"].split()[1])

In [9]:
US_Dollar_Per_metric_ton["month_name"] = US_Dollar_Per_metric_ton_month

In [10]:
US_Dollar_Per_metric_ton["year"] = US_Dollars_Per_metric_ton_year

In [11]:
dates = pd.to_datetime(US_Dollar_Per_metric_ton["Month"])

In [12]:
US_Dollar_Per_metric_ton["month_name2"] = dates.dt.month_name()

In [13]:
dates = pd.to_datetime(US_Dollar_Per_metric_ton["Month"])

In [22]:
US_Dollar_Per_metric_ton.set_index('Month',inplace=True)

In [28]:
US_Dollar_Per_metric_ton

           Price   Change month_name  year month_name2
Month
Jul 1992  120.00        -        Jul  1992        July
Aug 1992  120.00    0.00%        Aug  1992      August
Sep 1992  120.00    0.00%        Sep  1992   September
Oct 1992  116.88   -2.60%        Oct  1992     October
Nov 1992  107.50   -8.03%        Nov  1992    November
...          ...      ...        ...   ...         ...
Feb 2022  744.17  -12.08%        Feb  2022    February
Mar 2022  872.50   17.24%        Mar  2022       March
Apr 2022  925.00    6.02%        Apr  2022       April
May 2022  707.50  -23.51%        May  2022         May
Jun 2022  690.00   -2.47%        Jun  2022        June

[360 rows x 5 columns]

In [32]:
US_Dollar_Per_metric_ton.loc['Feb 2012':'Jun 2022']

           Price   Change month_name  year month_name2
Month
Feb 2012  375.00    1.90%        Feb  2012    February
Mar 2012  393.13    4.83%        Mar  2012       March
Apr 2012  494.38   25.75%        Apr  2012       April
May 2012  513.13    3.79%        May  2012         May
Jun 2012  456.88  -10.96%        Jun  2012        June
...          ...      ...        ...   ...         ...
Feb 2022  744.17  -12.08%        Feb  2022    February
Mar 2022  872.50   17.24%        Mar  2022       March
Apr 2022  925.00    6.02%        Apr  2022       April
May 2022  707.50  -23.51%        May  2022         May
Jun 2022  690.00   -2.47%        Jun  2022        June

[125 rows x 5 columns]

In [33]:
US_Dollar_Per_metric_ton.to_csv("US_Dollar_Per_metric_ton-Update.csv")

# US_wheat

In [25]:
US_wheat_df = investpy.get_commodity_historical_data(commodity='US Wheat', from_date='01/01/2012', to_date='01/01/2022')

In [26]:
US_wheat_df.resample("M").mean()

                  Open        High         Low       Close        Volume
Date
2012-01-31  631.581429  640.092381  623.402857  631.712857      0.000000
2012-02-29  649.778000  656.666000  640.654500  649.348000      0.000000
2012-03-31  651.488800  659.574000  643.228800  650.862400      0.000000
2012-04-30  635.482400  642.309200  628.908800  634.958000      0.000000
2012-05-31  639.527600  647.864000  630.224400  639.088800      0.000000
...                ...         ...         ...         ...           ...
2021-08-31  725.431818  735.931818  715.829545  725.738636  54218.045455
2021-09-30  704.465909  710.443182  697.909091  704.693182  24337.590909
2021-10-31  743.619048  753.642857  736.845238  745.547619  47382.000000
2021-11-30  807.595238  819.279524  796.742857  806.619048  17775.000000
2021-12-31  790.836957  798.154348  780.076087  788.817391   1618.739130

[120 rows x 5 columns]

In [27]:
US_wheat_df2 = investpy.get_commodity_historical_data(commodity='US Wheat', from_date='01/01/2012', to_date='01/01/2022')

In [28]:
US_wheat_df2.reset_index(inplace = True)

In [29]:
US_wheat_df2["month"] = pd.DatetimeIndex(US_wheat_df2["Date"]).month
US_wheat_df2["year"] = pd.DatetimeIndex(US_wheat_df2["Date"]).year

In [30]:
US_wheat_df2["month_name"] = pd.DatetimeIndex(US_wheat_df2["Date"]).month_name()

In [31]:
US_wheat_df2

,Date,Open,High,Low,Close,Volume,Currency,month,year,month_name
0,2012-01-02,653.13,653.13,653.13,653.13,0,USD,1,2012,January
1,2012-01-03,665.88,670.50,654.00,658.38,0,USD,1,2012,January
2,2012-01-04,656.38,661.13,645.63,650.13,0,USD,1,2012,January
3,2012-01-05,649.13,650.13,627.13,627.38,0,USD,1,2012,January
4,2012-01-06,629.38,636.88,624.63,624.63,0,USD,1,2012,January
...,...,...,...,...,...,...,...,...,...,...
2607,2021-12-27,817.50,824.00,802.50,804.00,0,USD,12,2021,December
2608,2021-12-28,805.75,808.00,781.75,783.50,0,USD,12,2021,December
2609,2021-12-29,785.25,793.00,774.00,787.75,0,USD,12,2021,December
2610,2021-12-30,789.50,791.75,776.00,779.75,0,USD,12,2021,December
2611,2021-12-31,782.50,787.75,769.50,770.75,0,USD,12,2021,December

In [33]:
US_wheat_df2.to_csv("US_wheat_df2-Update.csv")